.view-content-wrapper {
  margin-top: 7em;
  min-height: 88vh;
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: pre-line;
  .view-content-content {
    padding: 1em;
    width: 80%;
    margin: 0;
    .view-content-post {
      padding: 1em;
    }
  }
}
p,
b {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
h4 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  word-wrap: break-word;
}
img {
  text-align: center;
  margin: 1em;
  max-width: 60%;
  height: auto;
}
