.add-project-wrapper {
  margin-top: 7em;
  min-height: 88vh;
  .add-project-content {
    margin: 3em;
    margin-left: 10em;
    .add-project-post {
      margin-left: 2em;
      padding: 2em;
      input,
      textarea {
        width: 400px;
      }
      .add-project-object {
        padding: 2em;
      }
    }
  }
}
input,
textarea {
  width: 400px;
}
input {
  height: 30px;
}
textarea {
  height: 200px;
}
